<!DOCTYPE html>
<html>
<sidebar style="color:rgb(22,23,24);font-family:trebuchet ms; position:fixed; right:10vw; top:7vw;">
    {% block sidebar %}
    {% endblock %}
</sidebar>
<body style="background-color: rgb(240, 238, 227); color:rgb(22,23,24); padding-left: 5vw ;font-family:trebuchet ms; padding-top: 20vw; padding-right: 5vw;">
<title> Elizabeth Consolino </title>
<h1 >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</h1>
<h2>
    {% block body %}
    {% endblock %}
</h2>
<style>
    .center{
        text-align: center;
    }
    .scaleA {
      width: 300px;
      height: 300px;
      max-width: max-content;
      position: fixed; left: 650px; bottom: 140px ;
    }

</style>
</body>
</html>
