<script src="https://kit.fontawesome.com/2caaa9e7ac.js" crossorigin="anonymous"></script>
{% extends 'layout.html' %}
{% block body %}
<h1>
    Sculpture Portfolio
</h1>
<h1><br></h1>
<h3><br></h3>
<div class="center">
    <h5>academic projects</h5>
    <h1><i class="fa-solid fa-arrow-down"></i></h1>
</div>
<h1><br></h1>
<h2> Dis/Re Assemble </h2>
<h4>
    Fall 2024
</h4>
<img src="/static/dis:re_assemble.jpeg" style="height: 65%; margin-left: 15vw; margin-right: 10vw;">
<!-- <video preload="auto" width="320" height="240" controls>
    <source src="/static/createTask.mp4#t=0.5" type="video/mov">
    Your browser does not support the video tag.
</video> -->
<video style="height: 65% " src="static/dis:reassemble.mp4#t=0.5" playsinline controls preload="metadata">
    <source src="static/dis:reassemble.mp4#t=0.5" type="dis:reassemble/mp4">
</video>
<h5><br></h5>
<h5> 
    Objective: Create a sculpture using only upcycled materials
</h5>
<h5>
    Material: Sequin dress, travel size umbrella, Raw Dog, the Naked Truth of Hot Dogs, by Jamie Loftus 
</h5>
<h5>
    Process: Removed sequin mesh layer from dress and canopy of the umbrella. Replaced the canopy with Raw Dog pages, and hung from the sequin mesh covered 8" cube
<h5> <br>
</h5>
<h1><br></h1>
<h2> Structure and Surface </h2>
<h4>
    Fall 2024
</h4>
<img src="/static/sculpturePortfolio.jpeg" style="height: 65%; margin-left: 15vw; margin-right: 10vw;">
<!-- <video preload="auto" width="320" height="240" controls>
    <source src="/static/createTask.mp4#t=0.5" type="video/mov">
    Your browser does not support the video tag.
</video> -->
<video style="height: 65% " src="static/structureAndSurface.mp4#t=0.5" playsinline controls preload="metadata">
    <source src="static/structureAndSurface.mp4#t=0.5" type="dis:structureAndSurface/mp4">
</video>
<img src="/static/structureAndSurface.jpeg" style="height: 80%;margin-top: 5vw; margin-left: 15vw; margin-right: 10vw;">
<h5><br></h5>
<h5> 
    Objective: Create a work that plays on the concept of structure versus surface 
</h5>
<h5>
    Material: Charcoal grey merino wool, 5mm gauge wire, black spray paint, hairspray, balloons
</h5>
<h5>
    Process: Created a black torso frame from 5mm gauge wire, assembled wool around balloons and hairsprayed in place. Removed the woolen spheres from balloons and placed on the metal frame
<h5> <br>
</h5>
<h1><br></h1>
<h2> Untitled </h2>
<h4>
    Fall 2024
</h4>
<img src="/static/finalArt.jpeg" style="height: 65%; margin-left: 10vw; margin-right: 10vw;">
<img src="/static/sideViewFinal.jpeg" style="height: 65%;">
<h5><br></h5>
<h5> 
    Objective: Sculpture 1 final project, combination of techniques used in previous works 
</h5>
<h5>
    Material: Charcoal grey merino wool,balloons, aqua-resin, silicon plaster mold, lollipop, mica powder
</h5>
<h5>
    Process: Molded an e-cigarrete to create a pink glitter e-cigarette lollipop. Covered an aqua-resin sphere molded by a baloon in charcoal grey merino wool and placed lollipop plaster hand model. 
<h5> <br>
</h5>
<h1><br></h1>
{% endblock %}
{% block sidebar %}
    <a href="template1" target="_self" style=" color:rgb(22,23,24)">
        Back to other portfolios 
        </a>
    
{% endblock %}