<script src="https://kit.fontawesome.com/2caaa9e7ac.js" crossorigin="anonymous"></script>
{% extends 'layout.html' %}
{% block body %}
<h1>
    Computer Engineering Portfolio
</h1>
<h1><br></h1>
<h3><br></h3>
<div class="center">
    <h5>academic projects</h5>
    <h1><i class="fa-solid fa-arrow-down"></i></h1>
</div>
<h1><br></h1>
<h2>
    Model Speed Trap
</h2>
<h4>
    Spring 2023
</h4>
<img src="/static/EEspeedtrap.jpg" style="height: 65%; margin-left: 20vw; margin-right: 10vw;">

<h5><br></h5>
<h5> 
    Objective: Create a mock speed trap using Raspberry Pi model 5, buzzer to play at frequency corresponding to speed of object [card] passing by
</h5>
<h5>
    Material: Raspberry Pi model 5, embedded C, phototransistor, rotary encoder and buzzer
</h5>
<h5>
    Process: created functions for lcd string out and lcd move to, play note, delay, timer(s) initialize, and ISR 
<h5> <br>
</h5>
<h1><br></h1>
<h2>
    Alarm on Shake 
</h2>
<h4>
    Summer 2021
</h4>
<h4>
    <img src="/static/alarmOnShake.jpeg" style="height: 65%;width: 20%; margin-left: 20vw; margin-right: 10vw;" alt = "Image not loading">

<video style="height: 65%;width: 30%;" src="static/alarmOnShake.mp4#t=0.5" playsinline controls preload="metadata" muted alt = "video not loading">
    <source src="static/alarmOnShake.mp4#t=0.5" type="alarmOnShake/mp4">
    trouble displaying video
</video>
</h4>
<h5><br></h5>
<h5> 
    Objective: Create a prototype for increment light on shake project that implements shake detection
</h5>
<h5>
    Material: Adafruit Circuit playground express
</h5>
<h5>
    Process: created program to detect change in gyroscope and flash colors while playing an imported sound 
<h5> <br>
</h5>
<h1><br></h1>
<h2>
    Increment Light on Shake 
</h2>
<h4>
    Summer 2021
</h4>
<img src="/static/incrementLightOnShake.png" style="height: 65%; width: 20% ;margin-left: 20vw; margin-right: 10vw;">

<video style="height: 65%; width: 30%;" src="static/incrementLightOnShake.mp4#t=0.5" playsinline controls preload="metadata" muted>
    <source src="static/incrementLightOnShake.mp4#t=0.5" type="incrementLightOnShake/mp4">
    trouble displaying video
</video>
<h5><br></h5>
<h5> 
    Objective: Increment lights when object shakes
</h5>
<h5>
    Material: Adafruit Circuit playground express
</h5>
<h5>
    Process: Program made using prototype alarm on shake for shake detection and incrementing numbers of lights with timer
<h5> <br>
</h5>
{% endblock %}
{% block sidebar %}
    <a href="template1" target="_self" style=" color:rgb(22,23,24)">
        Back to other portfolios 
        </a>
    
{% endblock %}


