<script src="https://kit.fontawesome.com/2caaa9e7ac.js" crossorigin="anonymous"></script>
{% extends 'layout.html' %}
{% block body %}
<!-- <img src="/static/headShot.png" style="height: 30%; position: absolute; top: 10em;"> -->
<img src="/static/headShot.png" style="height: 33%;">
<h1>
    Elizabeth Consolino
</h1>
<h2>Cincinnati, OH | Los Angeles, CA</h2>
<h2>USC Viterbi School of Engineering | Presidential and Viterbi Scholar</h2>
<h3><br></h3>
<div class="center">
    <h5>academic projects</h5>
    <h1><i class="fa-solid fa-arrow-down"></i></h1>
</div>
<h1><br></h1>
<h1><br></h1>
<div class="center">
    <h2> Computer Science Portfolio</h2>
    <a href="layout2" target="_self">
        <img src="/static/compSciPortfolio.png" style="height: 70%;">
    </a>
    </div>
<br>
<h1><br></h1>
<h1><br></h1>
<div class = "center">
    <h2> Computer Engineering Portfolio</h2>
    <a href="layout3" target="_self"> 
        <img src="/static/EEspeedtrap.jpg" style="height: 70%;">
    </a>
    </div>
<h1><br></h1>
<h1><br></h1>
<div class = "center">
    <h2>  Sculpture Portfolio</h2>
    <a href="layout4" target="_self">
        <img src="/static/sculpturePortfolio.jpeg" style="height: 70%;">
    </a>
    </div>
<h1><br></h1>
<h1><br></h1>
{% endblock %}
{% block sidebar %}
    <h3>Connect</h3>
    <h5>    <i class="fa-brands fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/elizabeth-consolino-885372293/" style=" color:rgb(22,23,24)">Linkedin</a></h5>
    <h5><i class="fa-brands fa-github"></i><a href="https://github.com/lconsolino"style=" color:rgb(22,23,24)">Github</a></h5>
    <h5> <i class="fa-solid fa-envelope"></i> lconsoli@usc.edu</h5>
    
{% endblock %}
<!-- {% block side %}
    <sidebar> sidebarred</sidebar>
{% endblock %} -->